@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@343&family=Playfair+Display&display=swap');

body
{
	margin: 0;
	height :30px;
}

td {
  padding: 15px;
  text-align: center;
  vertical-align: middle;
}

.pf{
	font-family: 'Playfair Display', serif;
	font-size:14px;
}
a:hover 
{
  color: #A0A0A0;
}


a
{
	font-family: 'Josefin Sans', sans-serif;
	color: #333333;
	font-size:16px;
  	text-decoration:none;
}

